.main-footer {
  height: 240px;
  background-color: rgb(243,241,232);

  .main-footer__menu {
    position: relative;
    z-index: 1;
    height: 70px;
    list-style:none;
    border-top: 1px solid rgb(193,189,185);
    border-bottom: 1px solid rgb(193,189,185);
    .sep {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    .main-footer__link {
      display: none;
      font-size: 14px;
      font-family: 'Alegreya', serif;
      font-weight: 400;
      color: rgb(86,83,76);
      letter-spacing: 2px;
      
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    .main-footer__logo {
      font-family: 'Alegreya', serif;
      font-size: 30px;
      font-weight: 400;
      padding: 20px;
      background-color: rgb(243,241,232);
      color: rgb(86,83,76);
    }
  }
}