.main-header {
  position: relative;
  height: 100vh;
  background-image: url('../img/header.png');
  background-size: cover;
  background-position: center;
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    top: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 1px 20px 1px rgba(0,0,0,0.6);
  }

  .main-header__bottom-bar {
    z-index: 2;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/bread_logo.png");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    left: 50%;
    top:100%;
    transform: translate(-50%,-50%);
  }
}

.overlay-circle {
  z-index: 0;
  position: absolute;
  border-radius: 50%;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 100vh;
  background-color: rgba(86,79,76, .4);
  box-shadow: 0px 0px 80px 40px rgba(86,79,76,.4);
}

.main-header__nav {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: rgba(86,83,76,.53);

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.main-header__logo {
  p {
    margin-bottom: 0;
    padding:  19px 0;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: white;
    font-size: 22px;
    letter-spacing: 6px;
  };
}

.main-header__menu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 70px;
  transition: height .2s;

  .sep {
    color: white;
  }

  .main-header__link {
    color: white;
    font-size: 12px;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: rgba(255,255,255,0.6)
    }
  }
}

.main-header__social {
  display: flex;
  justify-content: center;
  align-items: center;

  .social-icons {
    background-size: cover;
    margin-right: 20px;
  }

  .twitter {
    width: 16px;
    height: 13px;
    background-image: url("../img/twitter.png");
  }
  .facebook {
    width: 8px;
    height: 15px;
    background-image: url("../img/facebook.png");
  }
  .instagram {
    width: 14px;
    height: 16px;
    background-image: url("../img/instagram.png");
  }
}


.main-header__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .main-header__title {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
    color: white;
    font-size: 65px;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .main-header__description {
    line-height: 22px;
    width: 40vw;
    text-align: center;
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10vh;
  }
  .main-header__menu-btn {
    width: 200px;
    height: 50px;
    padding: 15px;
    text-align: center;
    background-color: rgba(86,83,76,.53);
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Alegreya', serif;
    cursor: pointer;
    &:hover {
      color: rgba(255,255,255,0.6)
    }
  }
}


