.main-header {
  position: relative;
  height: 100vh;
  background-image: url('../../src/img/header.png');
  background-size: cover;
  background-position: center;
  .main-header__bottom-bar {
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("../../src/img/header_bar.png");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    left: 50%;
    top:100%;
    transform: translate(-50%,-50%);
  }
}

.overlay-circle {
  z-index: 0;
  position: absolute;
  border-radius: 50%;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 100vh;
  background-color: rgba(86,79,76, .4);
  //-webkit-box-shadow: 10px 10px 5px 0px rgba(86,79,76,0.75);
  //-moz-box-shadow: 10px 10px 5px 0px rgba(86,79,76,0.75);
  box-shadow: 0px 0px 80px 40px rgba(86,79,76,.4);
}

.main-header__nav {
  height: 70px;
  background-color: rgba(86,83,76,.53);
}

.main-header__logo {
  p {
    margin-bottom: 0;
    padding:  19px 0;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: white;
    font-size: 22px;
    letter-spacing: 6px;
  };
}

.main-header__menu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 70px;

  .sep {
    color: white;
  }

  .main-header__link {
    color: white;
    font-size: 10px;
    letter-spacing: 4px;
  }
}

.main-header__social {
  display: flex;
  justify-content: center;
  align-items: center;

  .social-icons {
    background-size: cover;
    margin-right: 20px;
  }

  .twitter {
    width: 16px;
    height: 13px;
    background-image: url("../../src/img/twitter.png");
  }
  .facebook {
    width: 8px;
    height: 15px;
    background-image: url("../../src/img/facebook.png");
  }
  .instagram {
    width: 14px;
    height: 16px;
    background-image: url("../../src/img/instagram.png");
  }
}


.main-header__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main-header__title {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
    color: white;
    font-size: 65px;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .main-header__description {
    line-height: 22px;
    width: 40vw;
    text-align: center;
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    letter-spacing: 3px;
    padding-bottom: 10vh;
  }
  .main-header__menu {
    width: 200px;
    height: 50px;
    background-color: rgba(86,83,76,.53);
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
    font-family: 'Alegreya', serif;
  }
}


