.section-two {
  background-image: url(../img/pancakes.jpg);
  background-size: cover;
  background-position: center;
  display: none !important;
  height: 760px;

  @include media-breakpoint-up(lg) {
    display: flex !important;
  }
}
.carousel {
  height: 500px;

  .carousel__image {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: transparent;
    transition: width .2s;

    [class*="image-"] {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.1;
      background-size: cover;
      background-position: center;
      transition: opacity .2s;
    }

    .image-1 {
      background-image: url("../img/item1.png");
    }
    .image-2 {
      background-image: url("../img/item2.png");
    }
    .image-3 {
      background-image: url("../img/item3.png");
    }
  }
  .carousel__description {
    position: relative;
    z-index: 3;
    height: 500px;
    width: 500px;
    background-color: white;
    background-image: url("../img/tasty_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;


    .carusel__preparation {
      position: absolute;
      top: -10%;
      right: -25%;
      width: 200px;
      height: 200px;
      background-color: white;
      box-shadow: -9px 10px 100px -20px rgba(0,0,0,0.75);
      background-image: url("../img/quote_bg.png");
      background-position: top left;

      p {
        text-align: center;
        color: rgb(164,125,94);
        padding-top: 15px;
        margin:0;
        font-family: 'Alegreya', serif;
        font-weight: 400;
      }

      p:first-of-type {
        font-size: 20px;
      }
      
      .preparation__time {
        position: relative;
        width: 100%;
        height: 100px;
        p {
          top: 50%;
          left: 50%;
          transform:translate(-50%,-50%);
          position: absolute;
          font-size: 100px;
          padding: 0;
          line-height: 100px;
          opacity: 0;
          transition: opacity .2s;
        }
      }

    }

    .description__header {
      position: relative;
      width: 100%;
      height: 100px;
      h2 {
        position: absolute;
        font-family: 'Alegreya', serif;
        font-size: 40px;
        text-align: left;
        padding-top: 50px;
        padding-left: 50px;
        font-weight: 400;
        letter-spacing: 3px;
        opacity: 0;
      }
    }
    .description__quote {
      font-family: 'Alegreya', serif;
      font-size: 14px;
      color: rgb(164, 125, 94);
      padding-left: 50px;
      letter-spacing: 2px;
    }
    .description__text {
      position: relative;
      width: 100%;
      height: 230px;
      p {
        position: absolute;
        font-family: "Proxima Nova", serif;
        font-size: 14px;
        color: rgb(86,83,76);
        padding: 50px;
        text-align: justify;
        margin:0;
        opacity: 0;
        transition: opacity .2s;
      }
    }

    .description__change {
      width: 100%;
      height: 100px;
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        top: -5px;
        left: 50%;
        border-radius: 50%;
        background-color: black;
        width: 2px;
        height: 15px;
        z-index: 9999;
        transform: translate(-50%, -50%);
      }
      &::after {
        top: 105%;
      }

      .change__container {

      }

      .change__carousel {
        list-style: none;
        position: relative;
        margin: 0;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        [class*="item-"] {
          float:left;
          margin: 0 10px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        .item-1 {
          background-image: url("../img/item1.png");
          background-size: cover;
          background-position: center;
        }
        .item-2 {
          background-image: url("../img/item2.png");
          background-size: cover;
          background-position: center;
        }
        .item-3 {
          background-image: url("../img/item3.png");
          background-size: cover;
          background-position: center;
        }
      }
    }
    .change__prev {
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      border: 2px solid black;
      cursor: pointer;
      margin:0 10px;
    }
    .change__next {
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      border: 2px solid black;
      cursor: pointer;
      margin:0 10px;
    }
  }
  .carousel__wrap {
    left: 0;
    width: 1px;
    height: inherit;
    position: relative;
    background-color: white;
    transition: width .2s;

    .description__more {
      z-index: 2;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      background-color: white;
      cursor: pointer;

      .description__btn {
        width: inherit;
        height: inherit;
        background: url("../img/menu.png") no-repeat center;
      }
    }
  }
}