.section-four {
  background-color: rgb(243,241,232);

  @include media-breakpoint-up(lg) {
    height: 920px;
  }
}
.jibarito-header {
  background-image: url("../img/tasty_bg.png");
  background-size: 20%;
  background-position: 230px 10px;
  background-repeat: no-repeat;
  h2 {
    padding-top: 100px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
  }
  p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(164,125,94);
  }
}

.jibarito-ingredients {
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: row !important;

  @include media-breakpoint-up(lg) {
    flex-direction: column !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.ingredient {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;

  [class*="ingredient-circle-"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    background-size: cover;
  }
  .ingredient-circle-1 {
    background-image: url("../img/circle-1.png");
  }
  .ingredient-circle-2 {
    background-image: url("../img/circle-2.png");
  }
  .ingredient-circle-3 {
    background-image: url("../img/circle-3.png");
  }
  h3 {
    padding: 10px 0;
    color: rgb(164,125,94);
    font-size: 18px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    width: 100%;
    margin:0;
    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: 22px;
    }

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }
  }
  p {
    font-family: "Proxima Nova", serif;
    font-size: 12px;
    text-align: center;
  }
}

.jibarito-photo {
  margin-bottom: 50px;
}
.jibarito-photo__container {
  position: relative;
  width: 650px;
  height: 430px;
  background-image: url("../img/jibarito_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 2px 5px 30px 1px black;

  .jibarito-photo__button {
    position: absolute;
    bottom: -20px;
    left: -15px;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px dashed rgb(223,197,145);
    text-align: center;
    padding: 10px;
    color: rgb(223,197,145);
  }
  .jibarito-photo__preparation {
    position: absolute;
    width: 150px;
    height: 500px;
    right: 5px;
    top: -30px;

    .preparation__square {
      height: 166px;
      margin-bottom: 1px;
      background-color: white;
      h3 {
        text-align: center;
        font-family: 'Alegreya', serif;
        font-weight: 400;
        color: rgb(164,125,94);
        font-size: 16px;
        padding-top: 30px;
        margin:0;
      }
      p {
        text-align: center;
        font-family: 'Alegreya', serif;
        font-weight: 400;
        font-size: 60px;
        margin:0;
        line-height: 60px;
      }
      p:last-child {
        font-size: 16px;
        color: rgb(151,146,133);
      }
    }
    .preparation__square-transparent {
      background-color: rgba(255,255,255, 0.8);
    }
    .preparation__square-solid {
      background-image: url("../img/ready_in.png");
      background-position: left;
      background-size: 140%;
      p {
        text-align: center;
        font-family: 'Alegreya', serif;
        font-weight: 400;
        font-size: 90px;
        color: rgb(223,198,145);
        margin:0;
        line-height: 60px;
      }
    }
  }
}