.section-three {
  height: 760px;
  background-image: url("../../src/img/section-three.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.breakfast-menu {
  h1 {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    letter-spacing: 2px;
    margin:0;
  }
  .breakfast-menu__header-quote {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Alegreya', serif;
    color: rgb(200,165,147);
    letter-spacing: 2px;
  }
  h3 {
    text-align: center;
    font-weight: 400;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    padding-top: 50px;
  }
  .breakfast-menu__quote {
    font-family: "Proxima Nova", serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(194,190,186);
    text-align: center;
    margin: 0;
  }
  .breakfast-menu__price {
    font-family: 'Alegreya', serif;
    font-size: 36px;
    text-align: center;
    color: rgb(223,198,145);
    margin: 0;
  }
}
.breakfast-flyer {
  height: 760px;
  [class*="flyer-"] {
    position: relative;
    height: 600px;
    background-color: rgb(243,241,232);
    width: 90%;
    .flyer-border {
      position: absolute;
      height: 585px;
      width: 97%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border: 1px dashed rgb(157,155,147);
    }
  }
  .logo {
    margin: 50px auto;
    width: 80%;
    background-image: url("../../src/img/flyer_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
  }
}