.section-two {
  background-image: url(../../src/img/pancakes.jpg);
  background-size: cover;
  background-position: center;
  height: 760px;
}
.carousel {
  height: 500px;

  .carousel__image {
    position: relative;
    height: 500px;
    background-image: url("../../src/img/pancakes.png");
    width: 45%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0% 93%);


    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -1%;
      border-width: 0 35px 35px 0;
      border-color: transparent white;
      border-style: solid ;
    }
  }
  .carousel__description {
    position: relative;
    height: 500px;
    background-color: white;
    width: 55%;

    .carusel__preparation {
      position: absolute;
      top: -10%;
      right: -25%;
      width: 200px;
      height: 200px;
      background-color: white;
      box-shadow: -9px 10px 100px -20px rgba(0,0,0,0.75);
    }

    .description__header {
      font-family: 'Alegreya', serif;
      font-size: 40px;
      text-align: left;
      padding-top: 50px;
      padding-left: 50px;
      font-weight: 400;
      letter-spacing: 3px;
    }
    .description__quote {
      font-family: 'Alegreya', serif;
      font-size: 14px;
      color: rgb(164, 125, 94);
      padding-left: 50px;
      letter-spacing: 2px;
    }
    .description__text {
      font-family: "Proxima Nova", serif;
      font-size: 14px;
      color: rgb(86,83,76);
      padding: 50px;
      text-align: justify;
    }

    .description__more {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      background-color: white;

      .description__btn {
        width: inherit;
        height: inherit;
        background: url("../../src/img/menu.png") no-repeat center;
      }
    }
  }
}