@import "modules/reset-css";
@import "modules/general";

@import 'vendor/bootstrap/bootstrap';

@import 'partials/header';
@import "partials/section-one";
@import "partials/section-two";
@import "partials/section-three";
@import "partials/section-four";
@import "partials/footer";
